html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: purple;
    height: 200px;
}

h1 {
    text-align: center;
    padding: 80px;
    margin: 0;
    color: white;
    line-height: 0;   
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}

/* Add your code */

section {
    display: flex;   
    /* flex-direction: row; */
}

article {
    flex: 200px;
}